* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.tabs {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 70px;
}
.product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.item__img {
  max-height: 250px;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 10px;
}
.item__descr {
  text-align: center;
}
.item__name {
  font-size: 20px;
  margin-bottom: 10px;
}
.item__price {
  color: rgb(240, 121, 121);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.item__btn {
  color: #fff;
  background-color: grey;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
}

.tab {
  color: grey;
  font-size: 40px;
  letter-spacing: 2px;
  background-color: transparent;
}

.active {
  color: rgb(95, 108, 231);
  pointer-events: none;
}